{{> head }}

{{> navbar }}


    <div class="row">
        <div class="col-8">
            <h1>Paisaje One Piece</h1>
        </div>
        
    </div>

    <div class="col-4">
        <img src="./assets/img/Barco_OnePiece.jpg" class="img-thumbnail">
    </div>


 {{> footer}}